/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */

@font-face {
  font-family: 'latoregular';
  src: url("lato/Lato-Regular.eot");
  src: url("lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("lato/Lato-Regular.woff2") format("woff2"), url("lato/Lato-Regular.woff") format("woff"), url("Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'latobold';
  src: url("lato/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("lato/Lato-Bold.woff2") format("woff2"), url("lato/Lato-Bold.woff") format("woff"), url("lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'latolight';
  src: url("lato/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("lato/Lato-Light.woff2") format("woff2"), url("lato/Lato-Light.woff") format("woff"), url("lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problem8s-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    background: #66cdcc;
    background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
    background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);

    color: white;
}

/* Custom */
.btn.btn-link{
    color: white;
}

.btn.btn-link:focus{
    color: white;
}

#login .icon-login{
    position: absolute;
    text-align: center;
    margin-top: -103px;
    margin-left: 17px;
    font-size: 40px;
    transform: rotate(-25deg);
    color: #a9fcff;
}

#login .titulo-login{
    color: white;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: 300;
    font-family: 'latolight' !important;
}

#login input{
    border-radius: 0;
}

#login #conteudo input:focus{
    background-color: white;
    opacity: .9;
}

.btn-no-border{
    border: 0;
}

.input-login{
    border: 0;
    box-shadow: none;
    color: white;
    margin-top: 10px;
    background-color: transparent!important; 
    margin-left: 5px;
    text-align: center;
    font-size: 1.1em;
}

.input-grupo {
    background-color: rgba(255, 255, 255, 0.08) !important;
    border-bottom: solid 2px white;
}

.input-login:focus, .input-login:change, .input-login:hover{
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.btn-login{
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px !important;
    font-weight: bold;
    font-size: 1.1em;
}

#login .container{
    bottom: 0;
    margin-bottom: 20px;
}

.label-login{
    position: fixed;
    float: left;
    padding-top: 7.5px;
    padding-left: 4px;
    color: white;
}

.buttons-login{
    margin-top: 60px;
}

.btn-entrar{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-esqueci{
    color: #2e6397;
    background-color: #dcdddd;
}

.titulo-desktop{
    color: white;
    font-weight: 300;
    font-family: 'latolight' !important;
    margin-bottom: 35px;
}

.linha-item-desktop{
    margin-top: 2px;
}

.item-desktop{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;  
}

.item-desktop-esquerda {
    margin-left: 14px;
}

.item-desktop-direita {
    z-index: 10;
    margin-left: -14px;
}

.item-desktop * {
    background-color: transparent;
    color: white;
    border: none;
}
.titulo-icone-desktop{
    font-size: 18px;
    font-family: "latobold";
}

.btn-premium{
    color: #dcdddd;
    background-color: #2e6397;
}

.bottom{
    position: absolute;
    bottom: 0;
}

.page-pos-sidebar{
    padding-left: 64px;
}

#mainpage .btn.btn-lg{
    background-color: transparent;
    color: white;
}

.btn-transparent{
    background-color: transparent;
}

.conta-permium{
    padding-top: 10px;
}

.titulo-page{
    font-size: 1.5em;
    color: white;
    font-family: "latobold" !important;
    letter-spacing: 5px;
    margin-left: 60px;
    margin-top: 25px;
}

.titulo-page .fa{
    color: #a9fcff;
}

.subtitulo-page{
    margin-left: 25px;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.sidebar-content{
    background-color: #38647d;
    padding-top: 15px !important;
}

.titulo-menu{
    color: #fff;
    font-family: "latolight" !important;
}

.btn-menu, .titulo-menu{
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 10px;
}

.btn:focus, .btn-menu:focus{
    outline: none;
}

.item-desktop{
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;  
}

.datepick .datepick-selected { 
    background-color: red !important;
}

.datepick .datepick-today { 
    background-color: yellow !important;
    color: #000 !important;
}

.legenda .faltas{
    color: red;
}

.legenda .hoje{
    color: yellow;
}

.panel{
    width: 220px;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.4) !important;   
    font-family: "latobold" !important;
    color: white;
}

.panel-info .panel-heading{
    background-color: #38647d;
    border: none !important;
    font-family: "latobold" !important;
}

.panel .panel-heading button {
    color: white !important;
}

.text-success, .text-success:hover, .data-toogle-select{
    color: #48fe45;
}

.img-conta{
    width: 100%;
    height: 100;
}

.upload-imagem{
    width: 100%; 
    margin-top: -55px;
    position: absolute;
    margin-left: 5px;
    padding-right: 72px;
    max-height: 100px;
}

.upload-imagem .trocar-imagem{
    z-index: 9000;
    background-color: rgba(255, 255, 255, 0.5) !important;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    border: dotted 2px rgba(255, 255, 255, 0.2) !important; 
    padding: 10px 15px;
    color: #a9fcff;
}

.btn-trocar-senha{
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #2e6397;
    background-color: #dcdddd;
}

.tirar-foto{
    margin-left: 38px;

}
.escolher-foto{
    position: absolute;
    right: 0;
    margin-right: 116px;
    
}
.item-dados-perfil-conta{
    border-bottom: solid 2px rgba(255, 255, 255, 0.4) !important; 
}

.dados-perfil-conta{
    color: white;
}

.titulo-dados-perfil-conta{
    font-family: "latobold";
    margin-bottom: 0;
    margin-top: 12px;
}

.informacao-dados-perfil-conta{
    font-family: "latolight";
    margin-top: 0;
}